
@if (viewModel) {
  <flow-action-panel (action)="onActionPanelEvent($event)"></flow-action-panel>
  <flow-palette [viewModel]="viewModel"></flow-palette>


  <div class="connection-panel">
    <mat-form-field>
      <mat-select [(ngModel)]="cBehavior" (ngModelChange)="onChangeConnections()">
        @for (option of cBehaviors;track option) {
          <mat-option [value]="option.key">{{ option.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select [(ngModel)]="cType" (ngModelChange)="onChangeConnections()">
        @for (option of cTypes;track option) {
          <mat-option [value]="option.key">{{ option.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
  <f-flow fDraggable [fFlowId]="viewModel.key"
          (fLoaded)="onLoaded()"
          (fCreateConnection)="onCreateConnection($event)"
          (fReassignConnection)="onReassignConnection($event)"
          (fCreateNode)="onCreateNode($event)">
    <f-background>
      <f-cell-pattern></f-cell-pattern>
    </f-background>
    <f-line-alignment></f-line-alignment>
    <f-selection-area></f-selection-area>
    <f-canvas fZoom [position]="{x: 0, y: 0}">
      @for (connection of viewModel.connections;track connection.key) {
        <f-connection [fBehavior]="cBehavior"
                      [fConnectionId]="connection.key"
                      [fType]="cType"
                      [fOutputId]="connection.from" [fInputId]="connection.to">
          <svg id="normal_end" viewBox="0 0 700 700" fMarker [type]="eMarkerType.END" [height]="5" [width]="5"
               [refX]="4" [refY]="2.5">
            <path d="M0,0L700,350L0,700L150,350z"/>
          </svg>

          <svg id="selected_end" viewBox="0 0 700 700" fMarker [type]="eMarkerType.SELECTED_END" [height]="5"
               [width]="5" [refX]="4"
               [refY]="2.5">
            <path d="M0,0L700,350L0,700L150,350z"/>
          </svg>
          @if (!!connection.name) {
            <div fConnectionCenter>
              {{ connection.name }}
            </div>
          }
        </f-connection>
      }
      <f-connection-for-create [fType]="eConnectionType.SEGMENT">
        <svg id="normal_end" viewBox="0 0 700 700" fMarker [type]="eMarkerType.END" [height]="5" [width]="5" [refX]="4"
             [refY]="2.5">
          <path d="M0,0L700,350L0,700L150,350z"/>
        </svg>
      </f-connection-for-create>
      @for (node of viewModel.nodes;track node.key) {
        <flow-node fNode
                   [fNodeId]="node.key"
                   [model]="node"
                   fNodeInput [fInputId]="node.input"
                   [fInputDisabled]="!node.input"
                   [fInputConnectableSide]="eConnectableSide.TOP"
                   [fNodePosition]="node.position"
                   (valueChange)="onValueChanged(node, $event)"
                   (removeConnection)="onRemoveConnection($event)"
                   (fNodePositionChange)="onNodePositionChanged($event, node)">
        </flow-node>
      }
    </f-canvas>
  </f-flow>


}
