:host {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;

  background-color: var(--gray14);
  border: 1px solid var(--gray12);
  padding: 8px 4px;
  border-radius: 4px;
  position: absolute;
  left: 16px;
  top: 16px;
  gap: 8px;
  z-index: 10;
}

button {
  border: 1px solid var(--gray12);
  width: 32px;
  height: 32px;
  padding: 7px;
  border-radius: 4px;
  background-color: var(--gray14);

  &:hover {
    background-color: var(--gray13) !important;
  }

  &.f-external-item-disabled {
    background-color: var(--gray13) !important;
    cursor: unset;
  }
}

.f-external-item {
  z-index: 20;
}
