<button icon-button (click)="onClick(eEventType.DELETE_SELECTED)" matTooltip="Delete" matTooltipPosition="below">delete</button>

<button icon-button (click)="onClick(eEventType.SELECT_ALL)" matTooltip="Select All" matTooltipPosition="below">select_all</button>

<button icon-button (click)="onClick(eEventType.TEST_CALL)" matTooltip="Test Call" matTooltipPosition="below">call_log</button>


<button icon-button (click)="onClick(eEventType.ZOOM_IN)" matTooltip="Zoom In" matTooltipPosition="below">zoom_in</button>

<button icon-button (click)="onClick(eEventType.ZOOM_OUT)" matTooltip="Zoom Out" matTooltipPosition="below">zoom_out</button>

<button icon-button (click)="onClick(eEventType.FIT_TO_SCREEN)" matTooltip="Fit to Screen" matTooltipPosition="below">zoom_in_map</button>

<button icon-button (click)="onClick(eEventType.ONE_TO_ONE)" matTooltip="1:1" matTooltipPosition="below">center_focus_strong</button>


