:host {
  display: flex;
  position: absolute;
  right: 16px;
  top: 16px;
  gap: 12px;
  z-index: 10;
}

button {
  background-color: var(--gray12) !important;
  width: 26px;
  height: 26px;
  padding: 5px;

  &:hover {
    background-color: var(--gray11) !important;
  }
}
