:host {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 49px;
  min-width: 49px;
  height: 100%;
  background-color: var(--gray13);
  border-right: 1px solid var(--gray12);
  overflow: hidden;
  position: relative;
  padding: 9px;
  gap: 12px;
}

a {
  width: 30px;
  height: 30px;
  overflow: hidden;
  display: block;
  color: var(--gray6);
  padding: 5px;
  border-radius: 6px;

  mat-icon {
    font-size: 20px;
    width: 20px;
    height: 20px;
    color: inherit;
  }

  &:hover {
    background-color: var(--gray11);
  }

  &.active {
    background-color: var(--gray11);
  }

  &[disabled="true"] {
    pointer-events: none;
    opacity: 0.5;
  }
}
