@use "variables";
@use "material";
@use "flow";

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--c-bg);
}

.flex-space {
  flex: 1;
}

* {
  box-sizing: border-box;
}
