@let model = viewModel();

@if (model) {
  <workflow-action-panel [viewModel]="model" (action)="onActionPanelEvent($event)"></workflow-action-panel>
  <workflow-palette [viewModel]="model"></workflow-palette>
  <f-flow fDraggable
          (fLoaded)="editorLoaded()"
          (fMoveNodes)="moveNodes($event)"
          (fCreateConnection)="createConnection($event)"
          (fReassignConnection)="reassignConnection($event)"
          (fCreateNode)="createNode($event)"
          (fSelectionChange)="changeSelection($event)">
    <f-background>
      <f-circle-pattern></f-circle-pattern>
    </f-background>
    <f-line-alignment></f-line-alignment>
    <f-selection-area></f-selection-area>
    <f-canvas fZoom
              [scale]="model?.transform?.scale"
              [position]="model?.transform?.position"
              [debounceTime]="fCanvasChangeEventDebounce"
              (fCanvasChange)="changeCanvasTransform($event)">
      @for (connection of connections(); track connection.id) {
        <f-connection fBehavior="fixed"
                      [fConnectionId]="connection.id"
                      [fOffset]="32"
                      fType="segment"
                      [fOutputId]="connection.source" [fInputId]="connection.target">
          <svg id="normal_end" viewBox="0 0 700 700" fMarker [type]="eMarkerType.END" [height]="5" [width]="5"
               [refX]="4" [refY]="2.5">
            <path d="M0,0L700,350L0,700L150,350z"/>
          </svg>

          <svg id="selected_end" viewBox="0 0 700 700" fMarker [type]="eMarkerType.SELECTED_END" [height]="5"
               [width]="5" [refX]="4" [refY]="2.5">
            <path d="M0,0L700,350L0,700L150,350z"/>
          </svg>
          <!--          @if (!!connection.name) {-->
          <!--            <div fConnectionCenter>-->
          <!--              {{ connection.name }}-->
          <!--            </div>-->
          <!--          }-->
        </f-connection>
      }
      <f-connection-for-create fType="segment">
        <svg id="normal_end" viewBox="0 0 700 700" fMarker [type]="eMarkerType.END" [height]="5" [width]="5" [refX]="4"
             [refY]="2.5">
          <path d="M0,0L700,350L0,700L150,350z"/>
        </svg>
      </f-connection-for-create>
      @for (node of nodes(); track node.id) {
        <workflow-node fNode
                       [fNodeId]="node.id"
                       [viewModel]="node"
                       fNodeInput [fInputId]="node.input"
                       [fInputDisabled]="!node.input"
                       fInputConnectableSide="top"
                       [fNodePosition]="node.position"
                       (valueChange)="onValueChanged(node, $event)"
                       (removeConnection)="removeConnection($event)">
        </workflow-node>
      }
    </f-canvas>
  </f-flow>
}
