<button icon-button [disabled]="!canRemove()" (click)="removeSelected()" matTooltip="Delete" matTooltipPosition="below">
  delete
</button>

<button icon-button (click)="action.emit(eEventType.SELECT_ALL)" matTooltip="Select All" matTooltipPosition="below">
  select_all
</button>

<button icon-button (click)="action.emit(eEventType.ZOOM_IN)" matTooltip="Zoom In" matTooltipPosition="below">zoom_in
</button>

<button icon-button (click)="action.emit(eEventType.ZOOM_OUT)" matTooltip="Zoom Out" matTooltipPosition="below">
  zoom_out
</button>

<button icon-button (click)="action.emit(eEventType.FIT_TO_SCREEN)" matTooltip="Fit to Screen"
        matTooltipPosition="below">zoom_in_map
</button>

<button icon-button (click)="action.emit(eEventType.ONE_TO_ONE)" matTooltip="1:1" matTooltipPosition="below">
  center_focus_strong
</button>

<button (click)="state.undo()" [disabled]="!state.canUndo()" icon-button matTooltip="Undo" matTooltipPosition="below">undo</button>

<button (click)="state.redo()" [disabled]="!state.canRedo()" icon-button matTooltip="Redo" matTooltipPosition="below">redo</button>


